<div class="row">
  <div class="col-auto text-left">
    <h1 id="title">{{title}}</h1>
  </div>
  <div class="col-auto text-right">
    <h4>{{author}}</h4>
  </div>
</div>
<hr />
{{!-- loop through the questions --}}
{{#each questions}}
<div class="text-center">
  <h3>Question {{increment @index}}</h1>
</div>
<p class="text-center">{{this}}</p>
<div class="radiogroup" data-selected="">
  <div class="endlabel">disagree</div>
  <div class="radio radio-big dis-strong" data-value="0"></div>
  <div class="radio radio-med dis-mild" data-value="1"></div>
  <div class="radio radio-sm neutral" data-value="2"></div>
  <div class="radio radio-med agg-mild" data-value="3"></div>
  <div class="radio radio-big agg-strong" data-value="4"></div>
  <div class="endlabel">agree</div>
</div>
{{/each}}
<div class="button-box">
  <div id="alert-insert">

  </div>
  <button id="submit" type="button" class="btn btn-lg btn-warning">update</button>
</div>
<div class="tooltray">
  <div id="id">{{id}}</div>
  <div id="nq">{{nq}}</div>
</div>
<div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Survey Results</h5>
        <button id="close-modal-x" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img id="loading-gif" class="img-fluid" src="/app/public/assets/images/loading.gif" />
      </div>
      <div class="modal-footer">
        <button id="close-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>